[color]
  ui = true
  diff = auto
  status = auto
  branch = auto
[core]
  whitespace = fix,-indent-with-non-tab,trailing-space
  editor = nvim
  pager = delta
  excludesfile = # TODO full path to .gitignore_global
[user]
  name = # TODO
  email = # TODO
  signingkey = # TODO
[alias]
  br = branch
  ci = commit -S
  co = checkout
  st = status
  mg = merge -S
  pl = pull --all --prune --tags --rebase --autostash -v
  ps = push
  a = add
  l = log --pretty=oneline -n 20 --graph --abbrev-commit
  ll = log --pretty=oneline -n 100 --graph --abbrev-commit
  sh = stash
  df = diff 
  cl = clone
  scorch = clean -dfX -e .idea
  squash = rebase --interactive -S
  patch = apply --reject --whitespace=fix
[pager]
  diff = delta 
  show = delta
[push]
  default = simple
  autoSetupRemote = true
[pull]
  rebase = false
[filter "lfs"]
  required = true
  process = git-lfs filter-process
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[url "https://"]
  insteadOf = git://
[color "diff-highlight"]
  oldNormal = red 
  newNormal = green 
  oldHighlight = red 52
  newHighlight = green 22
[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[gpg]
  program = gpg
[credential]
  helper = store
[pull]
  rebase = false
[delta]
  line-numbers = true
  dark = true
  hyperlinks = true
  hyperlinks-file-link-format = "vscode://file/{path}:{line}"
  # features = unobtrusive-line-numbers decorations
  features = decorations
  whitespace-error-style = 22 reverse
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
   line-numbers-minus-style = "#fb4934"
   line-numbers-zero-style = white
   line-numbers-plus-style = "#86B300"
  # hunk-header-decoration-style = none
  # hunk-header-line-number-style = none
  hunk-header-style = omit
  minus-style = "#fbf1c7" "#cc241d"
  plus-style = "#ebdbb2" "#749100"
  zero-style = white

