[color]
  ui = true
  diff = auto
  status = auto
  branch = auto
[core]
  whitespace = fix,-indent-with-non-tab,trailing-space
  editor = vim
  pager = diff-so-fancy | less --tabs=4 -RFX
  excludesfile = /Users/dan.white/.gitignore_global
[user]
  name = Dan White
  email = dan.white@cleerlyhealth.com
  signingkey = C16E1637F93FC83FF2A90BE893D49B6D3DEF7ECC
[alias]
  br = branch
  ci = commit -S
  co = checkout
  st = status
  mg = merge --gpg-sign=C16E1637F93FC83FF2A90BE893D49B6D3DEF7ECC
  pl = pull
  ps = push
  a = add
  l = log --pretty=oneline -n 20 --graph --abbrev-commit
  sh = stash
  df = diff 
  cl = clone
  scorch = clean -dfX
  squash = rebase --interactive --gpg-sign=C16E1637F93FC83FF2A90BE893D49B6D3DEF7ECC
  patch = apply --reject --whitespace=fix
[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFX
  show = diff-so-fancy | less --tabs=1,5 -RFX
[push]
  default = simple
[filter "lfs"]
  required = true
  process = git-lfs filter-process
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[url "https://"]
  insteadOf = git://
[color "diff-highlight"]
  oldNormal = red 
  newNormal = green 
  oldHighlight = red 52
  newHighlight = green 22
[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[gpg]
  program = gpg
[credential]
  helper = store
[pull]
	rebase = false
