alias .1 'cd ..'
alias .2 'cd ../..'
alias .3 'cd ../../..'
alias .4 'cd ../../../..'
alias .5 'cd ../../../../..'
alias actmon open\\\ /System/Applications/Utilities/Activity\\\\\\\ Monitor.app
alias ag 'ag -i --color --hidden --ignore={node_modules,build,package-lock.json}'
alias awsls 'aws --endpoint=http://localhost:4566'
alias calc 'open /System/Applications/Calculator.app'
alias cat 'bat --theme=ansi'
alias clip pbcopy
alias console 'open /System/Applications/Utilities/Console.app'
alias diff 'git diff --no-index'
alias dk docker
alias ecr-login 'aws ecr get-login-password | docker login --username AWS --password-stdin $AWS_ACCOUNT.dkr.ecr.$REGION.amazonaws.com'
alias g git
alias ga 'git add .'
alias gbr 'git branch'
alias gcl 'git clone'
alias gd git\\\ diff\\\ HEAD\\\ --\\\ \\\':!package-lock.json\\\'\\\ \\\':!Pipfile.lock\\\'
alias gdd 'cd ~/data'
alias gdu open\\\ /System/Applications/Utilities/Disk\\\\\\\ Utility.app
alias gps 'git push'
alias grep ag
alias gst 'git status'
alias gwa 'cd ~/src/$COMPANY/webapp'
alias gwd 'cd ~/src/'
alias gwdd 'cd ~/src/dotfiles'
alias gwe 'cd ~/src/$COMPANY/web-internal'
alias gwf 'cd ~/src/qmk_firmware'
alias gwi 'cd ~/src/$COMPANY/api-internal'
alias gwk 'cd ~/src/$COMPANY/kube'
alias gwm 'cd ~/src/$COMPANY/api-manufacturing'
alias gwp 'cd ~/src/$COMPANY/api-portal'
alias gwr 'cd ~/src/$COMPANY/reads-processor'
alias gws 'cd ~/src/$COMPANY/portal-data-simulator-v2'
alias gwt 'cd ~/src/$COMPANY/terraform'
alias gwt-dev 'cd ~/src/$COMPANY/terraform/aws/dev/'
alias gwt-gh 'cd ~/src/$COMPANY/terraform/github/$COMPANY'
alias gwt-ops 'cd ~/src/$COMPANY/terraform/aws/ops/'
alias h history
alias helm-ecr-login 'aws ecr get-login-password | helm registry login --username AWS --password-stdin $AWS_ACCOUNT.dkr.ecr.$REGION.amazonaws.com'
alias hh hstr
alias ij open\\\ -a\\\ /Applications/IntelliJ\\\\\\\ IDEA.app
alias iso-date 'date -u +"%Y-%m-%dT%H:%M:%SZ"'
alias k kubectl
alias kc kubectl
alias l 'exa -aa -g --long --header --git'
alias lc lolcat
alias less 'bat --theme=ansi'
alias ll 'exa -aa -g --long --header --git'
alias lr 'fd -aH -t f'
alias md5 'openssl md5'
alias n npm
alias ncov 'npm run coverage'
alias pe printenv
alias prefs open\\\ /System/Applications/System\\\\\\\ Preferences.app
alias pup 'pup -c'
alias purge-remote-tags 'git tag -l | xargs git push --delete origin'
alias rg 'rg -i --color=auto --colors=path:fg:yellow --colors=match:fg:green --hidden --no-ignore'
alias rm 'trash -v'
alias sha1 'openssl sha1'
alias sha256 'openssl sha256'
alias slack 'open /Applications/Slack.app'
alias sqlwb 'open /Applications/DataGrip.app'
alias strip-colors sed\\\ \\\"s/\\\\x1B\\\\\\\[\\\(\\\[0-9\\\]\\\{1,3\\\}\\\(\\\;\\\[0-9\\\]\\\{1,2\\\}\\\)\\\?\\\)\\\?\\\[mGK\\\]//g\\\"
alias tf terraform
alias vi nvim
alias vim nvim
alias wstorm 'open /Applications/WebStorm.app'
alias wtr 'curl http://wttr.in/Grand_Junction'
alias xbrew 'arch -x86_64 /usr/local/bin/brew'
