# GENERIC alias dotfile.  Put everything that is not OS specific in this dotfile.

alias l='exa -aa -g --long --header --git'
alias ll='exa -aa -g --long --header --git'
alias vi='nvim'
alias vim='nvim'
alias h='history'
alias wtr='curl http://wttr.in/Grand_Junction'

alias cat='bat --theme=ansi'
alias dk='docker'
alias less='bat --theme=ansi'
alias grep='ag'
alias ag='ag -i --color --hidden --ignore={node_modules,build,package-lock.json}'
alias rg='rg -i --color=auto --colors=path:fg:yellow --colors=match:fg:green --hidden --no-ignore'
alias lr='fd -aH -t f'
alias lc='lolcat'
alias md5='openssl md5'
alias pe='printenv'
alias sha1='openssl sha1'
alias sha256='openssl sha256'
alias gwd='cd ~/src'
alias gdd='cd ~/data'
alias gwdd='cd ~/src/dotfiles'
alias gwf='cd ~/src/qmk/qmk_firmware'
alias rm='trash -v'
alias strip-colors='sed "s/\x1B\[([0-9]{1,3}(;[0-9]{1,2})?)?[mGK]//g"'
alias .1='cd ..'
alias .2='cd ../..'
alias .3='cd ../../..'
alias .4='cd ../../../..'
alias .5='cd ../../../../..'
alias n='npm'

# git aliases
alias g='git'
alias ga='git add .'
alias gcl='git clone'
alias gd="git diff HEAD -- ':!package-lock.json'"
alias gst='git status'
alias gbr='git branch'
alias gps='git push'

