# GENERIC alias dotfile.  Put everything that is not OS specific in this dotfile.

alias ll='exa -aa -g --long --header --git'
alias vi='nvim'
alias vim='nvim'
alias h='history'
alias wtr='curl http://wttr.in/Grand_Junction'

alias cat='bat --theme=zenburn'
alias less='bat --theme=zenburn'
alias grep='grep -i --color'
alias ack='ag'
alias ak='ag'
alias lr 'tree -afipuh'
alias lc='lolcat'
alias md5='openssl md5'
alias pe='printenv'
alias sha1='openssl sha1'
alias sha256='openssl sha256'
alias gwd='cd ~/src'
alias gwf='cd ~/src/qmk/qmk_firmware'
alias rm='trash -v'
alias screenfetch='screenfetch 2>/dev/null'
alias strip-colors='sed "s/\x1B\[([0-9]{1,3}(;[0-9]{1,2})?)?[mGK]//g"'
alias .1='cd ..'
alias .2='cd ../..'
alias .3='cd ../../..'
alias .4='cd ../../../..'
alias .5='cd ../../../../..'

# git aliases
alias g='git'
alias gd='git diff HEAD'
alias gst='git status'
alias gbr='git branch'
alias diff='git diff --no-index'

