export GPG_TTY=(tty)

set -gx EDITOR 'nvim'

set --universal fish_user_paths $fish_user_paths "$HOME/src/bin" "$HOME/.cargo/bin"
bind --user \cb backward-word
bind --user \cf forward-word

set -gx AWS_PAGER 'bat --style=plain -l json'

# Base fzf styling options
# set -x FZF_DEFAULT_OPTS "--height 40% --layout=reverse --border --inline-info --preview-window=right:60%"

# Add color scheme (this example uses a dark theme)
# set -x FZF_DEFAULT_OPTS $FZF_DEFAULT_OPTS "--color=fg:#d0d0d0,bg:#121212,hl:#5f87af,fg+:#d0dfzf_configure_bindings --directory=\ct0d0,bg+:#262626,hl+:#5fd7ff,info:#afaf87,prompt:#d7005f,pointer:#af5fff,marker:#87ff00,spinner:#af5fff,header:#87afaf"

fzf_configure_bindings --directory=\ct
