function fish_prompt
  echo (set_color 3399FF)(whoami)(set_color FF9933)@(set_color 00CC00)(tput smul)(echo $hostname)(tput rmul)(set_color FF9933) (date -u '+%Y-%m-%d %H:%M:%S') UTC (set_color 6B6FFF)(pretty_path)
  echo "\$ "
end

function fish_greeting
  echo ""
  neofetch 
#  screenfetch
end

function cal
  if test "$argv" = ""
    /usr/bin/cal | lolcat
  else
    /usr/bin/cal $argv | lolcat
  end
end

function o
  dolphin (pwd) & 
end

function ied
  intellij-idea-community $argv &
end

function pretty_path
  echo (pwd | sed "s|$HOME|~|g" | sed "s|^/data|%|g" )
end

